.list-group-item {
  line-height: 2.5;
}

.hide{
  display: none;
}

.brand-logo{
  padding-left: 10px;
  font-family: 'Shrikhand', cursive;
}

html {
  width: 100%;
  height: 100%;
}

body{
  background: rgb(209, 209, 209);
  background: url(../images/main-image.jpg) no-repeat center center fixed; 
  background-size: cover;
  /* background: linear-gradient(45deg, rgba(132,152,137,1) 7%, rgba(189,255,196,1) 93%); */
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 75vh auto;
  grid-gap: 1em;
  max-width: 99.8%;
  padding: 1em;
  opacity: 1;
  max-height: 100vh;
  box-sizing: border-box;
  justify-content: stretch;
  align-content: center;
  grid-template-areas: "header"
                       "main"
                       "footer"
}

h4{
  color:black;
  font-family: 'Shrikhand', cursive;
}

.header-text {
  grid-column: 1;
  align-self: center;
}

.pantry-div{
  max-height: 100px;
  background: rgba(255,255,255,.9);
  padding: 5px;
}

main{
  grid-area: main;
  overflow: hidden;
  overflow-y: hidden;
  align-content: start;
}

/* .modal{
  position: absolute;
  top: 30%;
  right: 100px;
  bottom: 0;
  left: 0;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;
  max-height: 55%;
  max-width: 50%;;
} */

.modal {
  border: 10px solid #E49C0B;
  background-color: #ffe0b2;
}


/*Recipe Modal Styling*/

.recipe-detail {
  display:grid;
  grid-template-columns: 1fr 1fr 30px;
  grid-gap: 10px;
  grid-template-areas: "header header close"
                        "image ingredients ."
                        ". link ."
}

@media (max-width: 700px) {
  .recipe-detail {
  grid-template-areas: "header header close"
                        "image image image"
                        "ingredients ingredients ingredients"
                        "link link link"
  }
}

.modal-header {
  grid-column: 1 / span 2;
  margin:auto;
}

.modal .modal-footer {
  background-color: #ffe0b2;
}

.modal-img {
  grid-column: 1 / span 1;
  grid-row: 2 / span 2;
  margin: auto;
  border-radius: 25px;
  grid-area: image;
}

.modal-text {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  grid-area: ingredients;
}

.modal-src {
  grid-column: 2 / span 1;
  grid-row: 3 / span 1;
  grid-area: link;
}

.recipe-x {
  grid-column:  3 / span 1;
  grid-row: 1 / span 1;
  margin:auto;
  margin-top:0px;
  grid-area: close;
}

/*Pantry Modal Styling*/
.pantry-modal {
  display: grid;
  grid-template-columns: 1fr 1fr 30px;
  grid-gap: 10px;
  grid-template-areas: "header header close"
                      "search search search"
                      "items items items"
}

.pantry-text {
  grid-column: 1 / span 2;
  grid-row: 2 / span 1;
  margin:auto;
  grid-area: search;
}

.submit-btn {
  grid-column: 2 / span 1;
  grid-row: 2 / span 1;
  justify-self: end;
}

.pantry-items {
  grid-column: 1 / span 2;
  grid-row: 3 / span 1;
  display:grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  grid-gap: 1rem;
  grid-area:items;
}

.pantry-item {
  display: inline-block;
  grid-column-start: auto;
  grid-row-start: auto;
  margin: 5px;
}

.pantry-x {
  grid-column:  3 / span 1;
  grid-row: 1 / span 1;
  margin:auto;
  margin-top:0px;
  grid-area: close;
}

.pantry-search-item {
  padding-right: 20px;
  text-transform: uppercase;
}

.search{
  grid-column: 1/-1;
}

.sort label{
  color: white;
}

hr{
  width: 100%;
}

.id{
color:black;
text-align: center;

}
footer{
  margin-top: 3px;
  grid-column: 1 / -1;
  color: bisque;
  text-align: center;
  padding: 1rem 0;
  grid-area: footer;
}
.shadow{
  box-shadow: -10px 10px 5px rgba(160, 160, 160,.9);
  border-radius: 5px;
}
.shadow-header{
  box-shadow: -10px 10px 5px rgba(160, 160, 160,.9);
}

#card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,1fr));
  grid-gap: 1rem;
  padding: 10px;
  margin: auto;
  height: 100%;
  overflow-y: auto;
}

.card{
  background-color: rgba(255,255,255,.5);
  box-shadow: -10px 10px 5px rgba(100, 100, 100, 0.6);
  min-width: 10rem;
  padding: 20px;
  border-radius: 10%;
  cursor: pointer;
  border: 3px solid white;
}

.card-title {
  font-weight: 400px;
  color: white;
  text-shadow: 1px 1px 1px black;
}

.card-body{
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
}

.card-detail{
  font-size: 10px;
}

.grow{
  transition: .5s ease;
}
  
.grow:hover{
  -webkit-transform: scale(1.07);
  -ms-transform: scale(1.07);
  transform: scale(1.07);
  transition: .5s ease;
}

.form-control{
background-color: black
}